@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
  width: 10rem;
  padding: 0.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.divider-line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.main-options,
.switch-account-options {
  color: #fff;
  font-family: Poppins, sans-serif;
  list-style: none;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-options .title,
.switch-account-options .title {
  font-weight: bolder;
  font-size: x-large;
}

.switch-account-options .title {
  font-size: large;
}

.switch-account-options {
  display: none;
}

.main-options li,
.switch-account-options li {
  color: inherit;
  font-family: inherit;
  padding: 0.5em;
  background-color: rgb(54, 54, 54);
  cursor: pointer;
}

.add-account-form {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: Poppins, sans-serif;
}

.add-account-form .title {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.5rem;
}

.add-account-username-label {
  align-self: flex-start;
  font-weight: bold;
  font-family: inherit;
}

.add-account-username {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #484848;
  outline: none;
  border: none;
  padding: 0.3em;
  border-radius: 0.5rem;
  font-family: inherit;
  color: #fff;
}

#add-account-submit-button,
.logged-in-submit-button {
  padding: 0.5em;
  outline: none;
  border: none;
  background: #464646;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0.5rem;
}
